<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SSR demo app</title>
    <link rel="stylesheet" href="dist/styles.css">
</head>
<body>
<div class="title">
    <h1>Bitcoin rate</h1>
</div>
<div class="bicycle">
    {{content}}
</div>
<div class="copyright">
    Data taken from <a target="_blank" href="http://www.coindesk.com/price/">coindesk.com</a>
</div>
<script src="dist/bundle.js"></script>
</body>
</html>
