<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SSR demo app</title>
    <link rel="stylesheet" href="dist/styles.css">
    <link rel="preload" as="script" href="dist/bundle.js">
</head>
<body>
<div class="title">
    <h1>Bitcoin rate</h1>
</div>
<div id="container">
