html, body {
    font-family: 'Roboto', serif;
}

.title {
    text-align: center;
}

.copyright {
    margin: 20px;
    opacity: .5;
    font-size: 12px;
}

.bicycle {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wheel {
    margin: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
    cursor: default;
}

.wheel .date {
    font-size: 12px;
    opacity: .3;
}

.wheel .date:hover {
    opacity: 1;
}

.wheel .price {
    font-size: 32px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
